Project Dependencies

pip install seaborn
pip install datasets
pip install matplotlib
pip install vaderSentiment
pip install kneed


FOR GOOGLE WORD2VEC
run this cell:
import gensim.downloader as api
print("Loading Word2Vec model from gensim-data...")
word2vec_model = api.load('word2vec-google-news-300')
print("Model loaded successfully.")
then run in bash:
gunzip GoogleNews-vectors-negative300.bin.gz
the output is GoogleNews-vectors-negative300.bin, move it to a folder named GoogleNews-vectors-negative300/



# 1. Download the model archive (approx. 1.5GB)
wget -c "https://github.com/mmihaltz/word2vec-GoogleNews-vectors/raw/master/GoogleNews-vectors-negative300.bin.gz"

# 2. Unzip the file (creates 'GoogleNews-vectors-negative300.bin')
gunzip GoogleNews-vectors-negative300.bin.gz

# 3. Create the folder structure your code expects
mkdir -p GoogleNews-vectors-negative300.bin

# 4. Move the .bin file inside the folder
mv GoogleNews-vectors-negative300.bin GoogleNews-vectors-negative300.bin/